.section-1,
.section-2,
.section-3,
.section-4 {
  width: 100%;
  padding-block: 5px;
  padding-inline: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 0 auto;
}
.input-container {
  display: flex;
  align-items: center;
  direction: rtl;
  gap: 10px;
}
.input-container-1 {
  display: flex;
  align-items: center;
  direction: rtl;
  gap: 10px;
}
.input-field {
  width: 200px; /* Fixed width for all input boxes */
  min-width: 200px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  box-shadow: var(--input-box-shadow);
}
.label {
  width: 100px; /* Fixed width for all labels to ensure alignment */
  min-width: 100px;
  text-align: right;
}

.add-button {
  padding: 4px 12px;
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  box-shadow: var(--input-box-shadow);
  background-color: #ffffff;
  color: black;
  border: 1px solid black;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 3px;
}

.add-button:hover {
  filter: drop-shadow(0 0 7px var(--accent));
}

@media (max-width: 600px) {
  .input-container,
  .input-container-1 {
    flex-direction: column;
    align-items: flex-start;
  }

  .label {
    width: 100%;
    text-align: right;
    margin-bottom: 5px;
  }

  .input-field {
    width: 100%;
    max-width: 100%;
    min-width: unset;
  }
}

@media (hover: none) {
  .add-button:hover {
    filter: none;
  }
}
