.section-1,
.section-2,
.section-3,
.section-4 {
  width: 100%;
  padding-block: 5px;
  padding-inline: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 0 auto;
}
.input-container {
  display: flex;
  align-items: center;
  direction: rtl;
  gap: 10px;
}
.input-container-1 {
  display: flex;
  align-items: center;
  direction: rtl;
  gap: 10px;
}
.input-field {
  flex: 1;
  max-width: 150px; /* or whatever you want */
  min-width: 150px;
  padding: 4px;
  border: none;
  border-radius: 5px;
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  box-shadow: var(--input-box-shadow);
}
.label {
  min-width: 80px; /* same width for all labels */
  text-align: right;
}

.add-button {
  padding: 4px 12px;
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  box-shadow: var(--input-box-shadow);
  background-color: #ffffff;
  color: black;
  border: 1px solid black;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 3px;
}

.add-button:hover {
  filter: drop-shadow(0 0 7px var(--accent));
}
@media (hover: none) {
  .add-button:hover {
    filter: none;
  }
}
