.shift-data {
  width: 100%;
  margin-top: 8px;
  padding-inline: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
  color: var(--primary);
  font-size: 14px;
}
.commander-info {
  width: 100%;
  max-width: 950px;
  margin-bottom: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  transition: all 0.3s ease-in-out;
  gap: 20px;
  padding-inline: 4px;
}
.object-entry {
  display: flex;
  flex-direction: column;
  direction: rtl;
  gap: 5px;
  align-items: center;
}
.send-btn,
.refresh-btn {
  padding: 4px 12px;
  font-family: "Varela Round", sans-serif;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  box-shadow: var(--input-box-shadow);
  background-color: #ffffff;
  color: black;
  border: 1px solid black;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.send-btn:hover,
.refresh-btn:hover {
  filter: drop-shadow(0 0 7px var(--accent));
}
.shift-commander {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
}
.last-updated {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
@media (hover: none) {
  .send-btn:hover,
  .refresh-btn:hover {
    filter: none;
  }
}
@media (max-width: 300px) {
  .commander-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
}
@media (min-width: 420px) {
  .shift-data {
    font-size: 16px;
  }
  .send-btn,
  .refresh-btn {
    font-size: 16px;
  }
}

@media (min-width: 500px) {
  .commander-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}
